@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Ananda Black';
    src: url('../fonts/AnandaBlack.ttf');
    font-style: normal;
    font-weight: 400;
}
