body {
    display: grid;
    grid-template-rows: 20% 80%;
    width: 100vw;
    height: 100vh;
}

body > * {
    width: 100%;
    height: 100%;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#predicting-popup {
    width: 50%;
    height: 200px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -0%);
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#predicting-popup.show {
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: auto;
}

/* Loading GIF Styling */
#loading-gif {
    width: 300px; /* Adjust the size of the loading animation */
    height: 300px;
    display: none;
}

/* Predicting text */
#predicting-popup-text {
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
}


#content {
    display: grid;
    grid-template-columns: 65% 35%;
    height: 100%;
    place-items: center;
    width: 100%;
    height: 100%;
}

#content-camera {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

#content-camera > canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
}

#camera {
    object-fit: cover;
    position: relative;
    width: 90%;
    height: 80%;
}

#camera-border {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
}

#prediction {
    font-size: 1.5rem;
    width: 90%;
    height: 100%;
    display: grid;
    padding-top: 15rem;
    place-items: flex-start;
    justify-items: center;
}

#start-button {
    width: 40%;
    height: 30%;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    right: -20%;
    transform: rotate(10deg);
    z-index: 20;
    cursor: pointer;
}

#start-button > * {
    pointer-events: none;
}

#title {
    overflow: visible;
}

.image-box {
    position: relative;
}

.image-box > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-box > p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
}