body {
    display: grid;
    grid-template-rows: 20% 80%;
    width: 100vw;
    height: 100vh;
}

body > * {
    width: 100%;
    height: 100%;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#predicting-popup {
    width: 50%;
    height: 200px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -0%);
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#predicting-popup.show {
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: auto;
}

/* Loading GIF Styling */
#loading-gif {
    width: 300px; /* Adjust the size of the loading animation */
    height: 300px;
    display: none;
}

/* Predicting text */
#predicting-popup-text {
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
}


#content {
    display: grid;
    grid-template-columns: 65% 35%;
    height: 100%;
    place-items: center;
    width: 100%;
    height: 100%;
}

#content-camera {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

#content-camera > canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
}

#camera {
    object-fit: cover;
    position: relative;
    width: 90%;
    height: 80%;
}

#camera-border {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
}

#prediction {
    font-size: calc(4vw - 1rem);
    width: 80%;
    letter-spacing: 3px;
    font-family: "Ananda Black";
    line-height: 3.5rem;
    margin-bottom: 10rem;
    height: 100%;
    display: grid;
    place-items: center;
    color: white;
    /* -webkit-text-stroke: 2px black; */
}

#start-button {
    width: 40%;
    height: 30%;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    right: -10%;
    transform: rotate(10deg);
    z-index: 20;
    cursor: pointer;
}

#start-button > * {
    pointer-events: none;
}

#title {
    overflow: visible;
    padding-top: 2.5rem;
}

#title::before,
#title::after {
    content: "";
    position: absolute;
    width: 100px;  /* Adjust width */
    height: 100px; /* Adjust height */
    background-size: cover;
    background-position: center;
    z-index: 10;
}

#title::before {
    background-image: url('../images/heart-for-title1.png');
    left: 10%;  /* Adjust position */
    top: 50%;
    transform: translateY(-30%);
}

#title::after {
    background-image: url('../images/heart-for-title2.png');
    right: 10%; /* Adjust position */
    top: 50%;
    transform: translateY(-30%);
}

#title-text {
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #ff0033;
    padding-top: 2.5rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); /* Adds a soft shadow */
}


#camera-box {
    position: fixed;
    right: 0%;
    bottom: 0%;
    margin: 1rem;
    height: 50px;
    width: 50px;
    display: grid;
    z-index: 45;
    place-items: center;
    transition: 250ms;
    display: none;
}

#camera-box:hover {
    height: 60px;
    width: 60px;  
}

#camera-box > img {
    width: 80%;
    object-fit: cover;
    pointer-events: none;
}

#backdrop {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    z-index: 55;
    opacity: 0;
    pointer-events: none;
}

#backdrop.show {
    opacity: 1;
    pointer-events: none;
}

.image-box {
    position: relative;
}

.image-box > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: visible;
}

.image-box > p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
}